pip~=21.3.1
wheel~=0.37.1
rsa~=4.9
pyasn1~=0.4.8
Mako~=1.2.4
MarkupSafe~=2.1.1
Werkzeug~=2.2.2
Jinja2~=3.1.2
click~=8.1.3
itsdangerous~=2.1.2
distro~=1.8.0
six~=1.16.0
cachetools~=5.2.1
certifi~=2022.12.7
urllib3~=1.26.14
requests~=2.28.2
oauth2client~=4.1.3
google-api-python-client~=2.72.0
SQLAlchemy~=1.4.44
alembic~=1.8.1
netaddr~=0.8.0
WTForms~=3.0.1
greenlet~=2.0.1
pyparsing~=3.0.9
httplib2~=0.21.0
oauthlib~=3.2.2
idna~=3.4
yookassa~=2.3.3
Deprecated~=1.2.13
Flask~=2.2.2
wrapt~=1.14.1
setuptools~=60.2.0
uritemplate~=4.1.1
python-dotenv~=0.21.1
apiclient~=1.0.4