{% extends 'actual_model_list.html' %}

{% block buttons_available scoped %}
<button onclick="window.location.href = '{{car.mother_model_name}}/{{car.serial_number}}'" type="button"
        class="btn btn-sm btn-outline-secondary">View
</button>


<!--Делаем условие, чтобы пользователь не видел ВСЕ машины, а только ту, которую можно снять-->
{% if car.actual_status == 'Active' %}
<button type="button"
        class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
        data-bs-target="#logout">
    Rent
</button>
{% else %}
<button type="button"
        class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
        data-bs-target="#">
    N/A now
</button>
{% endif %}


<div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button onclick="window.location.href = '{{car.mother_model_name}}/{{car.serial_number}}/rent'"
                        type="button"
                        class="btn btn-primary">Take this car on a rent
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock buttons_available %}