{% extends 'base.html' %}
<!--Страница представляет общую информацию о компании, кроме того, на ней указаны компании-производители автомобилей для пользователей-->

{% block content %}
<main>


    {% block general %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Time to rent!</h1>
                <p class="lead text-muted">Here you can see a company-sorted cars, click one to continue. We only take
                    the best automobiles and provide the best services for ones. Our QA answer any of your request.</p>
                <p>
                    {% block call %}
                    <!--          <a href="#" class="btn btn-primary my-2">Main action</a>-->
                    <!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
                    {% endblock call %}
                </p>
            </div>
        </div>
    </section>
    {% endblock general %}

    {% block companies_representation %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% block one_company_representation %}
                <!--        Указываем заводы-производители-->
                {%for company in company_list%}
                <div class="col">
                    <div class="card shadow-sm">

                        <!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="auto" xmlns="http://www.w3.org/2000/svg" role="img"-->
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img"
                             aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <!--               <img align="center" class="image-responsive" src="static/icons/Chevrolet_new_logo.png" alt="Company logo" >-->
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{company.company_name}}</text>
                        </svg>

                        <div class="card-body" align="justify">
                            <p class="card-text">{{company.company_name}} - {{company.general_company_info[:]}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% block buttons_available scoped %}
                                    <button onclick="window.location.href = '/{{company.company_name}}'" type="button"
                                            class="btn btn-sm btn-outline-secondary">View
                                    </button>
                                    {% endblock buttons_available %}
                                </div>
                                <small class="text-muted">Available {{company.list_autos | length}}: {%for car in
                                    company.list_autos%} {{car.model_name}} {% endfor %} </small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endblock one_company_representation %}


            </div>
        </div>
    </div>
    {% endblock companies_representation %}

</main>
{% endblock content %}

