{% import 'macros.html' as macros %}
{% extends 'base.html' %}

{% block content %}

<form action='' method="post">

    <div class="container">
        <label for="model_name"><b>Actual model name</b></label>
        <input type="text" placeholder="Actual model name" name="model_name">

        <label for="mother_model_name"><b>Mother model name</b></label>
        <input type="text" placeholder="Mother model name" name="mother_model_name">

        <label for="serial_number"><b>Serial number</b></label>
        <input type="text" placeholder="Serial number" name="serial_number">

        <label for="price "><b>Price per hour</b></label>
        <input type="text" placeholder="Price per hour" name="price">

        <label for="year_made"><b>Year made</b></label>
        <input type="text" placeholder="Year made" name="year_made">

        <label for="engine_volume"><b>Engine volume</b></label>
        <input type="text" placeholder="Engine volume" name="engine_volume">

        <label for="engine_horsepower"><b>Hoursepower count</b></label>
        <input type="text" placeholder="Hoursepower count" name="engine_horsepower">

        <label for="travel_reach"><b>Travel reach</b></label>
        <input type="text" placeholder="Travel reach" name="travel_reach">

        <label for="img"><b>Car photo</b></label>
        <input type="text" placeholder="Car photo" name="logo_img_path">

        {{macros.centered_modal_button()}}
    </div>
</form>

{% endblock content %}