{% import 'macros.html' as macros %}
{% extends 'base.html' %}

{% block content %}

<form action='' method="post">

    <div class="container">
        <label for="model_name"><b>Название модели</b></label>
        <input type="text" placeholder="Название автомобиля" name="model_name">

        <label for="mother_model_name"><b>Название материнской модели</b></label>
        <input type="text" placeholder="Название материнской модели" name="mother_model_name">

        <label for="serial_number"><b>Серийный номер</b></label>
        <input type="text" placeholder="Серийный номер" name="serial_number">

        <label for="price "><b>Цена</b></label>
        <input type="text" placeholder="Цена" name="price">

        <label for="year_made"><b>Год выпуска</b></label>
        <input type="text" placeholder="Год выпуска" name="year_made">

        <label for="engine_volume"><b>Объем двигателя</b></label>
        <input type="text" placeholder="Объем двигателя" name="engine_volume">

        <label for="engine_horsepower"><b>Количество л.с.</b></label>
        <input type="text" placeholder="Количество л.с." name="engine_horsepower">

        <label for="travel_reach"><b>Запас хода</b></label>
        <input type="text" placeholder="Запас хода" name="travel_reach">

        {{macros.centered_modal_button()}}
    </div>
</form>

{% endblock content %}