{% import 'macros.html' as macros %}
{% extends 'base.html' %}

{% block content %}

<form action='' method="post">

    <div class="container">
        <label for="company_name"><b>Название автоконцерна</b></label>
        <input type="text" placeholder="{{company_for_redact.company_name}}" name="company_name">

        <label for="general_company_info"><b>Описание</b></label>
        <input type="text" placeholder="{{company_for_redact.general_company_info}}" name="general_company_info">

        {{macros.centered_modal_button()}}
    </div>
</form>

{% endblock content %}