{% extends 'base.html' %}

{% block top_returner %}
<!--Слабое место - имеем переопределение блока просто на ровном месте-->
<a href="{{url_for('index')}}" class="navbar-brand d-flex align-items-center">
    <strong>.caradvancer</strong>
</a>
{% endblock top_returner %}

{% block content %}

<form action='' method="post">


    <div class="container">
        <label for="user"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="user" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    </div>
</form>

{% endblock content %}